@import "tailwindcss";

@media print {
  /* Ensure each card is not split across pages */
  .print-view .print-card {
    page-break-inside: avoid;
    break-inside: avoid; /* modern browsers */
  }

  /* Reset row page breaks inside cards */
  .print-view .row {
    page-break-after: auto;
  }

  /* Insert page break every 3 outer rows (3x3 layout) */
  .print-view .row:nth-child(3n) {
    page-break-after: always;
  }
}

.card-preview {
  width: 250px;
}


/*DEBUG*/
/* .print-card {
    border: 1px dashed red !important;
    background-color: rgba(255, 0, 0, 0.05) !important;
  }
.row, .col {
    border: 1px dashed blue !important;
    background-color: rgba(0, 0, 255, 0.05) !important;
  } */